---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/homeSections/HeroSection.astro";
import CirclesSection from "../components/homeSections/CirclesSection.astro";
import VoiceSection from "../components/homeSections/VoiceSection.astro";
import HowSection from "../components/homeSections/HowSection.astro";
import FacilitatorSection from "../components/homeSections/FacilitatorSection.astro";
import TrustSection from "../components/homeSections/TrustSection.astro";

import PathFinder from "../components/homeSections/PathFinder.astro";
import ToastPopup from "../components/ToastPopup.astro";

export const prerender = true;
---

<Layout
  title="Circle Share — A safe space for healing & connection"
  isHome={true}
>
  <HeroSection />
  <CirclesSection />
  <div class="min-h-screen bg-cream">
    <PathFinder
      lottieSrc="/animations/robot.json"
      lottieWidth="140px"
      lottieHeight="140px"
      openOnLoad={true}
    />
  </div>
 <ToastPopup 
      id="toast-popup"
      title="You're all set!"
      message="Your selections have been saved. We'll match you with the perfect path and reach out soon."
      buttonText="Got it"
    />
  <VoiceSection />
  <HowSection />
  <FacilitatorSection />
  <TrustSection />
</Layout>
